<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form ng-submit='pop.addCircle()'>
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><img ng-src="../../img/popup-img/submit.png" alt=""></span></button>

                    <h4 class="modal-title" id="myModalLabel">Choose icon</h4></div>
                <div class="modal-body">
                    <div class="row">
                        <ul>
                            <li ng-click="pop.img_icon ='../../img/popup-img/bar.png'"><img ng-src="../../img/popup-img/bar.png" alt=""></li>
                            <li ng-click="pop.img_icon = '../../img/popup-img/cloth.png'"><img ng-src="../../img/popup-img/cloth.png" alt=""></li>
                            <li ng-click="pop.img_icon = '../../img/popup-img/woman.png'"><img ng-src="../../img/popup-img/woman.png" alt=""></li>
                        </ul>
                    </div>
                    <div class="row">
                        <ul>
                            <li ng-click="pop.img_icon = '../../img/popup-img/money.png'"><img ng-src="../../img/popup-img/money.png" alt=""></li>
                            <li ng-click="pop.img_icon = '../../img/popup-img/shopping.png'"><img ng-src="../../img/popup-img/shopping.png" alt=""></li>
                            <li ng-click="pop.img_icon = '../../img/popup-img/wallet.png'"><img ng-src="../../img/popup-img/wallet.png" alt=""></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="butMEGA"><img ng-src="{{pop.img_icon}}" alt=""></div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>