<!DOCTYPE html>
<html lang="en" ng-app="popUps">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>popup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/popup/popup-style.css">
</head>

<body ng-controller="popupsController as pop">
<span>{{pop.balance}}</span>
<div class="row rowSavings">
    <ul class='all-circles'>
        <li ng-repeat="item in pop.circles">
            <div class="circle-button">
                <div class="savings-name">{{item.savingsName}}</div>
                <div class="butMEGA"><img ng-src="{{item.img}}" alt=""></div>
                <div class="savings-ammount">{{item.savingsAmmount}}{{item.currency}}</div>
            </div>
        </li>
    </ul>
    <div class="circle-button" data-toggle="modal" data-target="#myModal" data-ng-click="pop.resetDropDown()">
        <div class="butPlus">+</div>
    </div>
</div>
<div class="row rowSpend">
    <ul class='all-circles'>
        <li ng-repeat="item in pop.circlesSpend">
            <div class="circle-button">
                <div class="butMEGA"><img ng-src="{{item.img}}" alt=""></div>
                <div class="spend-name">{{item.spendName}}</div>
            </div>
        </li>
    </ul>
    <div class="circle-button" data-toggle="modal" data-target="#myModal3" data-ng-click="pop.setImg()">
        <div class="butPlusSpend">+</div>
    </div>
</div>
<user-info-card></user-info-card>
<savings-popup></savings-popup>
<spends-Popup></spends-Popup>
<choose-icon-popup></choose-icon-popup>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="../../scripts/popup/popups.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>