<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form name="addSpend" ng-submit='pop.addSpendCircle() && addSpend.$valid' >
            <div class="modal-content">
                <div class="modal-header" >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span
                            aria-hidden="true"><img src="../../img/popup-img/close.png" alt=""></span></button>
                    <button type="submit" ng-click="pop.submitted=true"><img src="../../img/popup-img/submit.png" alt="" ></button>
                    <h4 class="modal-title" id="myModalLabel">Where do you spend money? </h4>
                    <div class='choose-icon' data-toggle="modal" data-target="#myModal2">choose icon</div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" name="inputSpend" id="inputName" placeholder="Name" ng-model="pop.spendName"
                               ng-class="{ errorinput: pop.submitted && addISpend.inputSpend.$error.required }" ng-required='true'>
                        <span ng-show="pop.submitted && addSpend.inputSpend.$error.required">Name is required</span>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>